

.nav-link{
    color: $dark-blue !important;
    font-weight: 500;
}

.nav-link.active{
    color: $light-blue !important;
    font-weight: 500;
}

.whatsapp-contact{
    font-weight: 600;
    font-size: 0.8rem
}

.whatsapp-icon{
    max-width: 20px;
}

.dropdown {
    background-color: #EBEBF2;
    color: $dark-blue;
    border: 0;
    font-weight: bold;
    border-radius: 10px;
}

.dropdown__icon{
    width: 1.5rem;
    margin-right: 0.7rem;
}