
.process {

    &__aside-title {
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: $dark-blue-2;
    }

    &__process-title{
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
    }

}