
.sarlaft {

    &-section-title{
        font-weight: bold;
        font-size: 21px;
        line-height: 29px;        
        color: #000000;
    }

    &-section-subtitle{
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }

    &-radio-label{
        font-weight: bold;
        text-align: left;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
    }

    &-radio-option{
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
    }

}

li::before.hola{
    font-weight: bold;
}