.ball {
	width: 30px;
	height: 30px;
	border-radius: 50%;
  font-weight: bold;
  align-content: center;
}

.active-ball {
  background-color: $light-blue;
  color: white;
}

.disable-ball {
  background-color: $bg-gray;
  
}