
.purchase__{

    &container{
        background-color: #EBEBF2;
        max-width: 50rem;
        margin: 2.5rem auto;
    }

    &title{
        font-family: Como, "Helvetica Neue", Helvetica, Arial;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: $light-blue;

    }

    &desc{
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $dark-blue-2;
        margin: 0 3rem;
    }

    &main-container{
        //background-color: #F2F2F2;
        text-align: center;
    }

    &table-container{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &table{
        max-width: 1000px;
        margin: 2rem 3rem;
        background-color: #fff;
        border-radius: 10px;
        border-spacing: 0;
    }

}

.line-none[role="columnheader"] {
    border-bottom: 0;
    border-top: 0;
}

