
.whatsapp__background {
    background-color: #FBFBFC;
}

.whatsapp__text {
    font-family: $mont;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #4AC66D;
    padding: 0;
    margin-bottom: 0;
    margin-left: 1rem;
}

.whatsapp__align {
    align-items: center;
}