$light-blue: #00b3d9;
$dark-blue: #001166;
$dark-blue-2: #0e1f74;
$bg-gray: #ebebf2;
$bg-gray-2: #f2f2f2;
$light-gray: #58585b;
$light-gray2: #dadadb;

$bg-primary: $light-blue;
$bg-secondary: $dark-blue;

$font-color-primary: $dark-blue;
$font-color-secondary: $light-blue;

$mont: 'Montserrat'