.page-section {
  font-style: normal;
  font-weight: inherit;
}

.page-section h5 {
  color: $font-color-primary;
  font-family: Como;
  font-style: normal;
  font-weight: bolder;
  size: 30px;
  line-height: 35px;
}

.brand {
  height: 80vh;
  background-image: linear-gradient(#0e1f7480, #0e1f7480),
    url("../images/brand-02.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $bg-primary;
  background-position-y: 55%;
  position: relative;
  margin: 0;
  width: 100%;
  text-align: center;
}

.home-msj {
  font-family: Como;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.home-msj-2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $light-blue;

}

.image-wrapper {
  overflow: hidden;
}

.profile-image {
  overflow: hidden;
  max-width: 176px;
  height: 176px;
  border-radius: 50%;
}

.profile-image img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.separator>.col {
  border-right: 1px solid #EBEBF2;
  border-radius: 2px;

  &:last-child {
    border-right: none;
  }
}

.home-pages__ {

  &title {
    font-family: Como;
    font-weight: bold;
    color: $light-blue;
    font-size: 2.5rem;
  }

  &content {
    color: $dark-blue;
    font-size: 1rem;
  }

}

.home-offer__ {

  &image-container {
    max-width: 23rem;
    border-radius: 10px;
  }

  &image {
    max-width: 23rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &text {
    color: $light-gray;
    font-size: 0.9rem;
  }



}