.dot {
  height: 25px;
  width: 25px;
  background-color: $bg-gray;
  border-radius: 50%;
  display: inline-block;
}

.form-check label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.background-life {
  background-image: url("../images/life/life-back.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
}
