@import "./config.scss";
@import "./home.scss";
@import "./life.scss";

@import "./components/step-progress-bar";
@import "./components/inital-form";
@import "./components/overview-data";
@import "./components/whatsapp";
@import "./components/plans";
@import "./components/aside-step-bar";
@import "./components/process";

@font-face {
  font-family: "Como";
  src: url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.eot");
  src: url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/02d58cc9c5a387653a789cb74d393706.svg#Como")
      format("svg");
}

.page {
  margin-top: 5rem;
  min-height: calc(100vh - calc(3.5rem + 1px) - calc(3.5rem + 1px));
}

.header {
  /* position: sticky; */
  top: 0;
  min-height: 5rem;
  background-color: $light-gray2;
}

.footer {
  left: 0;
  bottom: 0;
  min-height: 10vh;
  overflow: hidden;
}

.content {
  padding: 40px 30px;
  width: 100vw;
}

.primary-button {
  background-color: $bg-primary;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0px;
  border-radius: 10px;
}

.primary-button:hover {
  background-color: #0099ba;
}

.secondary-button {
  background-color: $bg-gray;
  color: $font-color-secondary;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0px;
  border-radius: 10px;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-gray {
  background-color: $bg-gray-2;
}

input.form-control {
  background-color: #ebebf2;
  color: black;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;

  &:focus {
    color: black;
  }

}

select.form-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ebebf2;
  background-clip: padding-box;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: black;
    border: 0;
    outline: none;
  }

  &:after{
    outline: none;
  }

}

.form-label {
  color: $dark-blue-2;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.small-icon {
  height: 50px;
  width: auto;
}

.small-icon img {
  top: 50%;
}

.font-primary {
  color: $font-color-primary;
}

.font-secondary {
  color: $font-color-secondary;
}

.custom-card {
  border-radius: 10px;
}

button.radio {
  background-color: transparent;
  border: 0;
}

.row{
  margin: 0 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.primary_btn_expand {
  background-color: $bg-primary;
  border: 0px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
}

.w-90{
  width: 90%;
}

.invalid-msj{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.radio-label{
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}